<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @view_module.title(@view_template, assigns) %> | OpenPace</title>
    <%= render NamerWeb.SharedView, "head.html", assigns %>
  </head>

  <body>
    <%= render NamerWeb.SharedView, "flash.html", assigns %>
    <%= render @view_module, @view_template, assigns %>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
